<!-- <hr style="margin-top: 200px;"> -->
<div style="overflow-x: hidden; background-color: aquamarine;">
    <hr>
    <div class="row">
        <div class="col">
            <h1 style="font-family: 'Poppins', sans-serif; font-weight: 800;">CONTACT US:</h1>
        </div>
        <div class="col">
            <p><i class="fa fa-facebook-official" aria-hidden="true"></i> : Facebook:  @quotes.com</p>
            <hr>
            <p> 
                <i class="fa fa-instagram" aria-hidden="true"></i> : Instagram: @quotes.com</p>
            <hr>
            <p> <i class="fa fa-twitter-square" aria-hidden="true"></i> : Twitter: @quotes.com</p>
            <hr>
            <p> <i class="fa fa-address-book" aria-hidden="true"></i>
                : Call Us : 08-00000000</p>
        </div>
        <div class="col">
            
                <h6 style="font-family: 'Poppins', sans-serif;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
                     animi quia, ut quo veniam deleniti beatae repellat. Est asperiores vel
                      beatae nisi! Ratione sed suscipit molestias odio. Eligendi, officia 
                      ullam?
                </h6>

            
        </div>
    </div>
</div>

